.content {
    transition-property: transform;
    transition-duration: 2s;
}

.content > .hero {
    position: relative;
    overflow: hidden;
}

.content > .welcome {
    font-size: 24px;
    top: 0%;
    left: 36%;
    position: absolute;
    color: slategray;
    background-color: rgba(250, 235, 215, 0.74);
}

.content > .restaurant, .content > .chef, .content > .militari, .hours {
    left: 38%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: antiquewhite;
    font-size: 19px;
    margin: 2px;
    border: 2px solid antiquewhite;
    width: 500px;
    height: 150px;
    transition: transform 1s;
    background-color: rgba(102, 51, 153, 0.774);
    text-align: center;
}

.content > .restaurant {
    top: 15%;
}

.content > .chef {
    top: 35%;
}

.content > .militari {
    top: 55%;
}

.hours {
    top: 81%;
    left: 43%;
    font-size: 16px;
    height: 150px;
    width: 300px;
}

.hours > h4 {
    padding: 5px;
}

.restaurant:hover, .chef:hover, .militari:hover {
    transform: scale(1.3);
}

#menu, #contact, #history, #about {
    position: absolute;
    left: 10%;
    color: white;
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 8px;
    width: 220px;
    height: 100px;
}

#menu:hover, #contact:hover, #history:hover, #about:hover {
    transform: scale(1.5)
}

#menu {
    top: 30%;
    background-color: #c00707b6;
}

#contact {
    top: 60%;
    background-color: #ffd900b2;
}

#history {
    left: 80%;
    top: 30%;
    background-color: #ff0095d7;
}

#about {
    left: 80%;
    top: 60%;
    background-color: #006effb4;
}