.content {
    transition-property: transform;
    transition-duration: 2s;
    transition-delay: 0.5s;
}

.content > img {
    overflow: hidden;
    top: 0%;
    position: absolute;
    transition: transform 1s;
}

.content > .welcome {
    font-size: 24px;
    top: 0%;
    left: 36%;
    position: absolute;
    color: slategray;
    background-color: rgba(250, 235, 215, 0.74);
}

.content > .restaurant, .content > .chef, .content > .militari, .hours {
    left: 38%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: antiquewhite;
    font-size: 19px;
    margin: 2px;
    border: 2px solid antiquewhite;
    width: 500px;
    height: 150px;
    transition: transform 1s;
    background-color: rgba(102, 51, 153, 0.774);
    text-align: center;
}

.content > .restaurant {
    top: 15%;
}

.content > .chef {
    top: 35%;
}

.content > .militari {
    top: 55%;
}

.hours {
    top: 75%;
    font-size: 15px;
    height: 200px;
}

.restaurant:hover, .chef:hover, .militari:hover {
    transform: scale(1.35);
}