body {
    overflow-x: hidden;
}

.content, .menupage {
    transition-property: transform;
    transition-duration: 2s;
}

.content > .hero {
    position: absolute;
    max-height: 1050px;
}

.content > .hero > img {
    opacity: 30%;
}


.content > .welcome {
    font-size: 24px;
    top: 0%;
    left: 35%;
    position: absolute;
    color: slategray;
    background-color: rgba(255, 210, 147, 0.911);
    border-radius: 5px;
    padding: 0 15px 0 15px;
}

.content > .restaurant, .content > .chef, .content > .militari, .hours {
    left: 38%;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 19px;
    margin: 2px;
    border: 2px solid antiquewhite;
    width: 500px;
    height: 150px;
    transition: transform 1s;
    background-color: #ff0095d7;
    text-align: center;
}

.content > .restaurant {
    top: 15%;
}

.content > .chef {
    top: 35%;
}

.content > .militari {
    top: 55%;
}

.hours {
    top: 81%;
    left: 43%;
    font-size: 16px;
    height: 150px;
    width: 300px;
}

.hours > h4 {
    padding: 5px;
}

.restaurant:hover, .chef:hover, .militari:hover {
    transform: scale(1.3);
}

#menu, #contact, #history, #about {
    position: absolute;
    left: 6%;
    color: white;
    background-color: #ff0095d7;
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 8px;
    width: 220px;
    height: 100px;
}

#menu:hover, #contact:hover, #history:hover, #about:hover {
    transform: scale(1.3)
}

#menu {
    top: 30%;
}

#contact {
    top: 60%;
}

#history {
    left: 80%;
    top: 30%;
}

#about {
    left: 80%;
    top: 60%;
}

.menuhero {
    opacity: 10%;
    top: 0%;
    position: absolute;
}

.menumenu, .menubeverages, .menusides, .menumaincourse, .menumenuhistory, .restauranthistory, .contactinfo {
    background-color: #ff0095d7;
    opacity: 90%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.5s;
}

.menumenu, .menumenuhistory, .restauranthistory {
    left: 38%;
    width: 500px;
    font-size: 20px;
    padding: 10px 12px;
}

.menumenu {
    font-size: 26px;
    height: 90px;
    top: 1%;
}

.menumenuhistory {
    font-size: 20px;
    height: 360px;
    top: 10%;
}

.restauranthistory {
    top: 55%;
    height: 220px;
}

.menubeverages, .menusides, .menumaincourse {
    left: 41.5%;
    width: 400px;
    font-size: 18px;
}

.menubeverages {
    top: 15%;
}

.menusides {
    top: 69%;
}

.menumaincourse {
    top: 99%;
}

.menubeverages > div, .menusides > div, .menumaincourse > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 36px;
}

.contactinfo {
    top: 30%;
    left: 39%;
    font-size: 26px;
    background-color: #ff00950a;
}